<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>
<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">CCSoft</a>

      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
               src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
               alt="User picture">
        </div>
        <div class="user-info">
						<span class="user-name">
							<strong>{{usuario}}</strong>
						</span>
          <span class="user-role">Administrator</span>

        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
            <hr>
          </li>
          <!-- MENU DE LA BARRA LATERAL -->
          <li class="active" routerLink="denunciasAdmin">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Denuncias</a>
          </li>
          <li routerLink="denuncia-aceptada">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="fa fa-check" aria-hidden="true"></i>Denuncias aceptadas</a>
          </li>
          <li routerLink="denuncia-rechazada">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="fa fa-ban" aria-hidden="true"></i>Denuncias rechazadas</a>
          </li>
          <li routerLink="miperfil">
            <a aria-controls="profile" role="tab" data-toggle="tab">
              <i class="fa fa-user-circle" aria-hidden="true"></i>Mi perfil</a>
          </li>
          <li routerLink="soporte">
            <a aria-controls="help" role="tab" data-toggle="tab">
              <i class="fas fa-life-ring" aria-hidden="true"></i>Soporte</a>
          </li>
          <li (click)="cerrarSesion()">
            <a aria-controls="help" role="tab" data-toggle="tab">
              <i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
          </li>
          <!-- FIN DEL MENU DE LA BARRA LATERA -->
          <li class="header-menu">
            <hr id="linea">
            <span>Extra</span>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-menu  -->
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a>Derechos reservados <strong> ©ComunitySoft </strong> 2020</a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>¡BIENVENIDO!</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>Aqui podras administrar las dependencias que tienes registradas, tambien podras ver las
            denuncias que se han hecho.</p>
          <p> Si tienes problemas por favor reporta el error a nuestro soporte y con gusto le ayudaremos
          </p>
        </div>

      </div>
      <hr>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="misdenuncias">
          <router-outlet></router-outlet>
        </div>
      </div>

      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

    </div>

  </main>
  <!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
