<div class="container">

    <form class="form-horizontal">
      <fieldset>
  
        <!-- Form Name -->
        <!-- <legend>Aqui puede agregar una dependencia </legend> -->
  
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="Id">ID</label>
          <div class="col-md-4">
            <input id="Id" name="Id" type="text" readonly="readonly" placeholder="###" style="width: 20%;"
              class="form-control input-md">
  
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="plan">Nombre</label>
          <div class="col-md-6">
            <input id="plan" name="plan" type="text" placeholder="Nombre de la dependencia"
              class="form-control input-md" required="">
          </div>
        </div>
  
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="plan_costo">Encargado general</label>
          <div class="col-md-6">
            <input id="plan_costo" name="plan_costo" type="text" placeholder="Ejemplo:Juan lopez"
              class="form-control input-md" required="">
  
          </div>
        </div>
  
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="plan_cantidad_usuarios">Ubicación</label>
          <div class="col-md-6">
            <input id="plan_cantidad_usuarios" name="plan_cantidad_usuarios" type="text"
              placeholder="juan manuel esquina con blv sonora" class="form-control input-md">
  
          </div>
        </div>
  
        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="plan_max_limit_download_tx">Area que atiende</label>
          <div class="col-md-6">
            <select id="plan_max_limit_download_tx" name="Maltrato animal, Daño vial, medioambiente"
              class="form-control">
              <option value="56k">--</option>
              <option value="56k">Denuncias por maltrato animal</option>
              <option value="128k">Denuncias por contaminación al medio ambiente</option>
              <option value="256k">Secretaría de la Defensa Nacional (SEDENA)</option>
              <option value="384k">Secretaría de Turismo</option>
              <option value="512k">Pueblos Indígenas</option>
              <option value="768k">Secretaría de Salud</option>
              <option value="1024k">Secretaría de Desarrollo Social</option>
              <option value="1536k">Secretaría de Hacienda y Crédito Público</option>
              <option value="2048k">Trabajadores del Estado</option>
            </select>
          </div>
        </div>
  
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="plan_descripcion">Descripción</label>
          <div class="col-md-6">
            <textarea name="" id="" cols="30" rows="10" style="height: 2%;"></textarea>
  
          </div>
        </div>
        <!-- Multiple Checkboxes (inline)
      <div class="form-group">
        <label class="col-md-4 control-label" for="plan_activo">Plan Activo?</label>
        <div class="col-md-4">
          <label class="checkbox-inline" for="plan_activo-0">
            <input type="checkbox" name="plan_activo" id="plan_activo-0" value="1">
            Si
          </label>
          <label class="checkbox-inline" for="plan_activo-1">
            <input type="checkbox" name="plan_activo" id="plan_activo-1" value="0">
            No
          </label>
        </div>
      </div> -->
        <!-- 
       Select Basic 
      <div class="form-group">
        <label class="col-md-4 control-label" for="plan_listar_como">Listar en Pagina como?</label>
        <div class="col-md-6">
          <select id="plan_listar_como" name="plan_listar_como" class="form-control">
            <option value="NO LISTAR">NO LISTAR</option>
            <option value="RESIDENCIAL">RESIDENCIAL</option>
            <option value="EMPRESARIAL">EMPRESARIAL</option>
            <option value="ESTUDIANTIL">ESTUDIANTIL</option>
          </select>
        </div>
      </div> -->
  
        <div class="form-group">
          <label class="col-md-4 control-label" for="guardar"></label>
          <div class="col-md-8">
            <button id="guardar" name="guardar" class="btn btn-success">GUARDAR</button>
            &nbsp;
            <button id="cancelar" name="cancelar" class="btn btn-danger">CANCELAR</button>
          </div>
        </div>
  
      </fieldset>
    </form>
  
  </div>