
  body {
	margin: 0;
	margin-bottom: 40px;
  }
  footer {
	background-color: rgb(0, 0, 0);
	position: absolute;
	bottom: 0;
	width: 110%;
	height: 100px;
	color: white;
	text-align: center;
	font-size: 14px;
	background-image: url("https://i.stack.imgur.com/AZ2Xw.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
height: 100px;
  } 
  
  .backhome2{
      text-align: center;
  }