<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<h1 style="margin-top: auto;">Mis dependencias</h1>

<table id="table_id" class="table table-striped table-bordered" style="width:100%">
<thead>
  <tr>
    <th scope="col">Folio</th>
    <th scope="col">Nombre completo</th>
    <th scope="col">Tipo de denuncia</th>
    <th scope="col">Atendido por</th>
    <th scope="col">Fecha</th>
    <th scope="col">PDF</th>
    <th scope="col"> Status</th>

  </tr>
</thead>
<tbody class="contenidobusqueda">
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Maltrato animal</td>
    <td>Milagro Canino</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"> 
      <div class="alert alert-primary" style="width: 80px;" role="alert" style="text-align: center;">
        Recibida
        </div>
    </td>

  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;">
      <div class="alert alert-primary" style="width: 80px;" role="alert" style="text-align: center;">
        Recibida
        </div>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Daño vial</td>
    <td>H. ayuntamiento Navojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;">
      <button type="button" class="btn btn-success" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-danger" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-success" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>
  <tr>
    <th scope="row">#12837</th>
    <td>Juan martin leiva</td>
    <td>Contaminación Ambiental animal</td>
    <td>Ecologia NAvojoa</td>
    <td>27/02/2020</td>
    <td>Inserte PDF aqui.</td>
    <td style="text-align: center;"><button type="button" class="btn btn-primary" data-toggle="tooltip"
      data-placement="top" title="Tooltip on top">Recibida</button>
    </td>
  </tr>

</tbody>
</table>

