<!-- BODY DE LA PLANTILLA -->
<div class="container">
  <div class="row">
    <form action="" method="post" class="smart-green">
      <h1>¿Necesitas ayuda?
        <span>Podemos ayudarte con tu problema. Sólo mándanos un email a nuestro correo electrónico:</span>
      </h1>
      <!--<label>
          <span>Nombre :</span>
          <input id="name" type="text" name="name" placeholder="Nombre completo" [(ngModel)]="objSoporte.nombre"/>

      </label>

      <label>
          <span>Correo electronico:</span>
          <input id="email" type="email" name="email" placeholder="Ejemplo@ejemplo.com" [(ngModel)]="objSoporte.correo"/>

      </label>

      <label>
          <span>Celuar :</span>
          <input id="Phone" type="email" name="Phone" placeholder="6424578564" [(ngModel)]="objSoporte.celular"/>
      </label>

      <label>
          <span>Asunto :</span><input id="Subject" type="text" name="Subject" placeholder="Ejemplo: error al agregar dependencia" [(ngModel)]="objSoporte.asunto" />
      </label>

      <label>
          <span>Mensaje :</span>
          <textarea id="message" name="message" placeholder="Explique el error o el proceso en el cual tiene alguna problema, sea detallado" [(ngModel)]="objSoporte.mensaje"></textarea>
      </label>

       <label>
          <span> </span>
          <input type="button" class="button"  value="Enviar" (click)="sendMailSoporte()"/>
      </label>-->
      <br><br>
      <label (click)="clipboard()"><span>Sólo mándanos un correo a: contactoccsoft@gmail.com con tu problema
          y una descripción del mismo. Nos pondremos en contacto contigo lo más pronto
          posible para brindarte ayuda.<br><br>
          <strong>Nota: Haz click en este mensaje y nuestro email se copiará a tu portapapeles.</strong></span></label>
    </form>
  </div>
</div>

<!-- CIERRA EL BODY DE LA PLANTILLA -->


