<!-- ENVIA A LA BASE DE DATOS -->
<form>
	<div id="formulario">
		<h1> Crea Una cuenta </h1>
		<a style="color: white;" id="backhome" href="login">
			<li class="glyphicon glyphicon-arrow-left"></li> Da clic aquí para regresar al inicio
		</a>

	</div>
	<div id="tabla-formulario" class="col-md-12">
		<div class="col-md-12">
			<div class="form-group">
				<label for="nombre"><span style="color: red;"> * </span>Nombres</label>
				<input placeholder="Ingrese su nombre..." name="fnombre" type="text" id="tabla" class="form-control"
				[(ngModel)]="objRegistro.nombres" (change)="validacionNombre()">
				<p *ngIf="msjVisibleNombre">
					<span style="color: red;margin-left: 10px;">Por favor capture únicamente letras.</span>
				</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="apellido"><span style="color: red;"> * </span>Apellidos</label>
				<input placeholder="Ingrese su apellido..." name="fapellido" type="text" id="tabla" class="form-control"
				[(ngModel)]="objRegistro.apellidos" (change)="validacionApellido()">
				<p *ngIf="msjVisibleApellido">
					<span style="color: red;margin-left: 10px;">Por favor capture únicamente letras.</span>
				</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="correo">Correo electronico</label>
				<input placeholder="Escriba su e-mail" name="femail" type="text" id="tabla" class="form-control"
				[(ngModel)]="objRegistro.correo" (change)="validacionCorreo()">
				<p  *ngIf="msjErrorCorreo">
					<span style="color: red;margin-left: 10px;">Por favor capture una cuenta de correo valida.</span>
				</p>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="nombre"><span style="color: red;"> * </span>Usuario</label>
				<input placeholder="Ingrese su nombre..." name="fnombre" type="text" id="tabla" class="form-control"
				[(ngModel)]="objRegistro.usuario">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="contra"><span style="color: red;"> * </span>Contraseña</label>
				<input placeholder="Escriba contraseña" name="cpassword" type="password" id="tabla"
					class="form-control" [(ngModel)]="objRegistro.contrasena">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="contra"><span style="color: red;"> * </span>Confirmación de contraseña</label>
				<input placeholder="Escriba contraseña" name="fpassword" type="password" id="tabla"
					class="form-control" [(ngModel)]="confirmacion">
			</div>
		</div>
		<!--<div class="col-md-6">
			<div class="form-group">
				<label for="fecha">Fecha nacimiento (*) </label>
				<input placeholder="DD/MM/AA" name="ffechanacimiento" type="date" id="tabla" class="form-control">
			</div>
		</div>-->

		<div class="col-md-12">
			<div class="form-group">

				<label for="genero"><span style="color: red;"> * </span>Género</label>

				
		
					<div class="onoffswitch2">
						<input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" [(ngModel)]="switchGenero" checked>
						<label class="onoffswitch2-label" for="myonoffswitch2">
							<span class="onoffswitch2-inner"></span>
							<span class="onoffswitch2-switch"></span>
						</label>
					</div>

				</div>
			</div>
			</div>
	<button name="registro" type="submit" id="button" (click)="getUsername()"> ¡Registrarse! </button>
</form>


<footer id="footer">
	<div class="row justify-content-md-center">
		<div class="col col-lg-3">
			<div class="col-md-12">
				<div class="section-heading">
					<a href="mailto:#">Soporte@<strong> ©ComunitySoft </strong> .com</a>

				</div>
			</div>
		</div>
		<div class="col-md-6" style="padding-bottom: 120px;">
			<a> Copyright ©<strong> ©ComunitySoft </strong> Todos los Derechos Reservados 2020 </a>
		</div>
		<div class="col col-lg-3">
			<a href=""> ¿Quienes somos?</a> </div>
	</div>
</footer>