<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<h1 style="margin-top: auto;">Mis denuncias</h1>

<table style="width:100%">
  <tr>
    <th scope="col">Folio</th>
    <th scope="col">Nombre completo</th>
    <th scope="col">Tipo de denuncia</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Atendido por</th>
    <th scope="col">Fecha</th>
    <th scope="col">PDF</th>
    <th scope="col"> Status</th>
  </tr>
  <tr *ngFor="let c of reportes;">
    <th scope="row">
      <button class="btn btn-success btn-lg" style="width: 100%" id="{{c.folio}}"
              (click)="onClick($event)">{{c.folio}}</button>
    </th>
    <td>{{c.nombre}}</td>
    <td>{{c.tipo}}</td>
    <td>{{c.descripcion}}</td>
    <td>{{c.atendido}}</td>
    <td>{{c.fecha}}</td>
    <td>{{c.pdf}}</td>
    <td style="text-align: center;">
      <div class="alert alert-primary" style="width: 80px;" role="alert" style="text-align: center;">
        {{c.status}}
      </div>
    </td>

  </tr>
</table>

