<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>

<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="/index">CCSoft</a>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded"
               src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
               alt="User picture">
        </div>
        <div class="user-info">
			  <span class="user-name">
				<strong>{{usuario}}</strong>
			  </span>
          <span class="user-role">Denunciante</span>

        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>General</span>
            <hr>
          </li>
          <!-- MENU DE LA BARRA LATERAL -->
          <li class="active" routerLink="misdenuncias">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Mis denuncias</a>
          </li>
          <li routerLink="denuncia-aceptada">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="fa fa-check" aria-hidden="true"></i>Denuncias aceptadas</a>
          </li>
          <li routerLink="denuncia-rechazada">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="fa fa-ban" aria-hidden="true"></i>Denuncias rechazadas</a>
          </li>
          <li routerLink="denuncia">
            <a aria-controls="home" role="tab" data-toggle="tab">
              <i class="fa fa-envelope-open" aria-hidden="true"></i>Crear denuncia</a>
          </li>
          <li routerLink="miperfil">
            <a aria-controls="profile" role="tab" data-toggle="tab">
              <i class="fa fa-user-circle" aria-hidden="true"></i>Mi perfil</a>
          </li>
          <li routerLink="soporte">
            <a aria-controls="help" role="tab" data-toggle="tab">
              <i class="fas fa-life-ring" aria-hidden="true"></i>Soporte</a>
          </li>
          <li (click)="cerrarSesion()">
            <a aria-controls="help" role="tab" data-toggle="tab">
              <i class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
          </li>
          <!-- FIN DEL MENU DE LA BARRA LATERA -->
          <li class="header-menu">
            <hr id="linea">
            <span>Extra</span>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a>Derechos reservados ©ComunitySoft </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <h2>¡BIENVENIDO!</h2>
      <hr>
      <div class="row">
        <div class="form-group col-md-12">
          <p>¡Que gusto es volverte a ver por aca!</p>
        </div>
      </div>
      <hr>
      <!-- page-content" -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="misdenuncias">
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- page-content" -->
      <h5>Denuncias nuevas</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card rounded-0 p-0 shadow-sm">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="card rounded-0 p-0 shadow-sm">
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
</body>
