<div class="jumbotron">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <label>Digite su nueva contraseña, recuerde que no debe utilizar la misma contraseña que tenia
                    antes</label>

                <label>Contraseña Nueva</label>
                <div class="form-group pass_show">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <li class="glyphicon glyphicon-lock"></li> <input class="form-control" placeholder="Password" name="password" type="password" value="" [(ngModel)]="objChangePassword.contrasena">

                        </span>

                    </div>
                </div>
                <label>Confirmar Contraseña</label>
                <div class="form-group pass_show">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <li class="glyphicon glyphicon-lock"></li> <input class="form-control" placeholder="Password" name="password" type="password" value="" [(ngModel)]="confirmPassword">

                        </span>

                    </div>
                </div>
                <button type="button" class="btn btn-primary" (click)="changePassword()">Cambiar contraseña</button>
                
            </div>
        </div>
    </div>
</div>