<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<div id="tblDenuncias">
  <h1 style="margin-top: auto;">Mis denuncias</h1>
  <table [hidden]="!changeStatus" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
      <th scope="col">Folio</th>
      <th scope="col">Nombre completo</th>
      <th scope="col">Tipo de denuncia</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha</th>
      <th scope="col">PDF</th>
      <th scope="col">Imagen</th>
      <th scope="col"> Status</th>
    </tr>
    </thead>
    <tbody class="contenidobusqueda">
    <tr *ngFor="let c of reportes">
      <th scope="row">{{c.folio}}</th>
      <td>{{c.nombre}}</td>
      <td>{{c.tipo}}</td>
      <td>{{c.descripcion}}</td>
      <td>{{c.fecha}}</td>
      <td>
        <button class="btn btn-dark" (click)="openFile($event)" id="{{c.pdf}}">PDF</button>
      </td>
      <td>
        <button class="btn btn-dark" (click)="openFile($event)" id="{{c.img}}">IMG</button>
      </td>
      <td style="text-align: center;">
        <button class="{{c.clase}}" (click)="update($event)" id="{{c.folio}}">{{c.status}}</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div [hidden]="changeStatus">
  <p>Seleccione el estatus al que desea actualizar la denuncia seleccionada: ID: {{idStatus}}</p>
  <div class="row" class="options">
    <input type="button" class="btn-primary btn" value="RECIBIDO" (click)="updateStatus('A')">
    <input type="button" class="btn-success btn" value="ACEPTADO" (click)="updateStatus('B')">
    <input type="button" class="btn-danger btn" value="RECHAZADO" (click)="updateStatus('C')">
  </div>
  <a
    href="https://firebasestorage.googleapis.com/v0/b/ccsoft-85144.appspot.com/o/pdf%2FRazon social.pdf?alt=media">PDF</a>
  <div class="row" class="back">
    <button class="btn btn-dark" (click)="changeStatus=true;"><i class="fas fa-undo"></i></button>
  </div>
</div>

