.back{
  height: auto;
  text-align: left;
  width: 100%;
}
.options{
  height: auto;
  text-align: center;
  width: 100%;
}
.options input{
  height: 50%;
  width: 20%;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
}
table button{
  width: 100%;
}
