<div class="container">
    <div class="row">

        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Mi perfil</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box-body">

                                    <div align="center"> <img alt="User Pic"
                                            src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                            id="profile-image1" class="img-circle img-responsive">

                                        <!--<input id="profile-image-upload" class="hidden" type="file">-->
                                        <!-- <label style="color:#999;">Da clic en la imagen para cambiarla</label> -->
                                    </div>
                                    <!--Upload Image Js And Css-->

                                <br>
                                <!-- /input-group -->
                            </div>
                            <!--  <form>-->

                                &nbsp;

                                <div class="form-group row">
                                    <label for="name" class="col-4 col-form-label" >Nombre</label>
                                    <div class="col-8">
                                        <input id="name" name="name" placeholder="Nombre"
                                            class="form-control here" type="text" [(ngModel)]="nombre" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lastname" class="col-4 col-form-label">Apellido</label>
                                    <div class="col-8">
                                        <input id="lastname" name="lastname" placeholder="Apellidos"
                                            class="form-control here" type="text" [(ngModel)]="apellido" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="username" class="col-4 col-form-label"> Nombre de
                                        usuario *</label>
                                    <div class="col-8">
                                        <input id="username" name="username" placeholder="Username"
                                            class="form-control here" required="required" type="text" [(ngModel)]="objPerfil.usuario">
                                    </div>
                                </div>
                                <!-- <div class="form-group row">
                <label for="text" class="col-4 col-form-label">Nick Name*</label>
                <div class="col-8">
                  <input id="text" name="text" placeholder="Nick Name" class="form-control here" required="required" type="text">
                </div>
              </div> -->

                               <!-- <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Correo *</label>
                                    <div class="col-8">
                                        <input id="email" name="email" placeholder="Email"
                                            class="form-control here" required="required" type="text">
                                    </div>
                                </div>-->
                                <!-- <div class="form-group row">
                <label for="website" class="col-4 col-form-label">Website</label>
                <div class="col-8">
                  <input id="website" name="website" placeholder="website" class="form-control here" type="text">
                </div>
              </div> -->
                                <!--<div class="form-group row">
                                    <label for="publicinfo" class="col-4 col-form-label">Acerca de
                                        ti</label>
                                    <div class="col-8">
                                        <textarea id="publicinfo"
                                            name="amistoso, gentil, me gusta el futbol" cols="40"
                                            rows="4" class="form-control"></textarea>
                                    </div>
                                </div>-->
                                <div class="form-group row">
                                    <label for="newpass" class="col-4 col-form-label">Nueva
                                        contraseña</label>
                                    <div class="col-8">
                                        <input placeholder="Nueva contraseña"
                                            class="form-control here" type="password" [(ngModel)]="objPerfil.contrasena">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="newpass" class="col-4 col-form-label">Confirmar
                                        contraseña</label>
                                    <div class="col-8">
                                        <input placeholder="confirmar contraseña"
                                            class="form-control here" type="password" [(ngModel)]="contrasenaConfirm">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-4 col-8">
                                        <button name="submit" type="submit"
                                            class="btn btn-primary" (click)="updatePerfil()">Actualizar Mi Perfil</button>
                                    </div>
                                </div>
                            <!--</form>-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- fin de from -->
