<div class="container">
  <div class="row">
    <div class="board">
      <ul class="nav nav-tabs">
        <div class="liner"></div>
        <li rel-index="0" [ngClass]="row.activo?'active':'' " *ngFor="let row of lstWizard">
          <a class="btn" aria-controls="step-1" role="tab" data-toggle="tab">
            <!-- <a href="#{{row.id}}" class="btn" aria-controls="step-1" role="tab" data-toggle="tab"> -->

            <span><i [ngClass]="row.icono"></i></span>
          </a>
        </li>

      </ul>
    </div>
    <div class="row" *ngIf="page=='denuncia'">
      <div class="col-md-12 text-center">
        <h2>Denuncia</h2>
      </div>
      <div class="col-md-12">
        <h3>Datos de la denuncia</h3>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Nombre completo</label>
            <input maxlength="100" type="text" required="required" class="form-control"
                   placeholder="Escriba su nombre" [(ngModel)]="objDenuncia.nombre"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Telefono celular</label>
            <input maxlength="10" type="text" required="required" class="form-control"
                   placeholder="Escriba su numero de telefono/celular" [(ngModel)]="objDenuncia.telefono"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="subject">
              Seleccione que tipo de denuncia es:</label>
            <select id="subject" name="subject" class="form-control" required="required"
                    [(ngModel)]="objCategoria.nombre" placeholder="Seleccioe una:">
              <option value="na">Seleccione una:</option>
              <option value="animal">Maltrato animal</option>
              <option value="ambiental">Daño ambiental</option>
              <option value="vialidad">Daño en vialidad</option>
              <option value="dañoPublico">Daño en instalación pública</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Nombre de la persona que ocasiona el daño (opcional)</label>
            <input maxlength="100" type="text" class="form-control"
                   placeholder="Nombre de la persona que ocasiona el daño"
                   [(ngModel)]="objDenuncia.nombreDenunciado"/>
          </div>
        </div>
        <h3>Direccion de donde ocurren los hechos</h3>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Calle</label>
            <input maxlength="100" type="text" required="required" class="form-control"
                   placeholder="Escriba direccion del lugar" [(ngModel)]="objDenuncia.calle"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Colonia</label>
            <input maxlength="40" type="text" required="required" class="form-control"
                   placeholder="Escriba la colonia donde sucedio" [(ngModel)]="objDenuncia.colonia"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Entre calles</label>
            <input maxlength="120" type="text" required="required" class="form-control"
                   placeholder="Entre que calles" [(ngModel)]="objDenuncia.entreCalles"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Codigo postal</label>
            <input maxlength="5" type="text" required="required" class="form-control"
                   placeholder="Escriba el codigo postal" [(ngModel)]="objDenuncia.cp"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Descripción de lo sucedido</label>

          </div>
          <textarea rows="6" cols="50" placeholder="Describa lo que paso"
                    [(ngModel)]="objDenuncia.descripcion"></textarea>
        </div>


        <h3>Mis datos</h3>
        <h5>En caso de no encontrar el lugar estos datos nos serviran para poder atender el caso </h5>

        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Numero de contacto</label>
            <input maxlength="14" type="text" required="required" class="form-control"
                   placeholder="(555) 555-5555" [(ngModel)]="objDenuncia.telefonoAlt"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Correo electronico</label>
            <input maxlength="100" type="text" required="required" class="form-control"
                   placeholder="Escriba su correo electronico" [(ngModel)]="objDenuncia.correo"/>
          </div>
        </div>

        <div class="col-md-12">
          <button id="step-1-next" class="btn btn-lg btn-primary nextBtn pull-right"
                  (click)="siguienteAnterio('evidencia')"><i class="glyphicon glyphicon-arrow-right"></i></button>

          <div class="col-md-6">
            <a href="/index" style="font-size: 130%;"><i class="glyphicon glyphicon-home"></i> Regresar al
              incio</a>
          </div>

        </div>


      </div>
    </div>
    <div class="row" *ngIf="page=='evidencia'">
      <div class="col-md-12 text-center">
        <h2>Sube tus evidencias</h2>
      </div>
      <div class="col-lg-12 text-center">
        <div class="alert alert-success" role="alert">

          <h4 class="alert-heading"></h4>
          <div class="row">
            <div class="col-md-4">
              <h3>Seleccione la imagen que desea subir como prueba</h3>
              <input type="file" (change)="fileProgress($event)" accept="image/*">
            </div>
            <div>
              <h4>Cargar archivos</h4>
              <div class="image-preview mb-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="300"/>
              </div>
              <div class="row">
                <button (click)="eliminarImg()" class="btn btn-danger">Eliminar imagen</button>
              </div>
            </div>
          </div>

          <!--<input type="file" class="btn btn-primary" (change)="cargandoImagen($event.target.files)" multiple
              [(ngModel)]="objDenuncia.imgUrl">-->


        </div>

      </div>
      <div class="col-md-6 text-left">
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="siguienteAnterio('denuncia')"><i
          class="glyphicon glyphicon-arrow-left"></i></button>
      </div>
      <div class="col-md-6 text-right">
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="siguienteAnterio('preview')"><i
          class="glyphicon glyphicon-arrow-right"></i></button>
      </div>
    </div>


    <div class="row" *ngIf="page=='preview'">
      <div class="col-lg-12 text-center">
        <div class="col-md-12 text-center">
          <h2>¡Revisa que todo este bien!</h2>
        </div>
        <div class="col-lg-12 text-center">
          <div class="alert alert-success" role="alert">

            <h4 class="alert-heading">¡Revisa que todo este bien!</h4>
            <p>

            </p>
          </div>

        </div>
      </div>
      <div class="col-md-6 text-left">
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="siguienteAnterio('evidencia')"><i
          class="glyphicon glyphicon-arrow-left"></i></button>
      </div>
      <div class="col-md-6 text-right">
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="siguienteAnterio('CorrectoFRM')"><i
          class="glyphicon glyphicon-arrow-right"></i></button>
      </div>
    </div>

    <div class="row" *ngIf="page=='CorrectoFRM'">
      <div class="col-lg-12 text-center">
        <div class="alert alert-success" role="alert">

          <h4 class="alert-heading">¡Muy bien!</h4>
          <p>
            Has llegado al paso final de tu denuncia, recuerda que podremos contactarte en caso de que no
            podamos dar con
            la ubicación del lugar en el cual pasaron los hechos, tus datos están bajo nuestro resguardo así
            que
            no te preocupes por tu privacidad. Al dar clic en el botón ENVIAR, aceptarías que la denuncia
            esta correcta de lo contrario puedes regresar y verificar todos los datos.
          </p>
        </div>

      </div>
      <div class="col-md-6 text-left">
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="siguienteAnterio('preview')"><i
          class="glyphicon glyphicon-arrow-left"></i></button>
      </div>

      <div class="col-md-6 text-right">
        <!-- <button  class="btn btn-lg btn-primary" (click)="abrir()"><i class="glyphicon glyphicon-ok"></i></button> -->
        <button id="step-1-next" class="btn btn-lg btn-primary" (click)="validaciones()"><i
          class="glyphicon glyphicon-ok"></i></button>
      </div>
    </div>
  </div>
  &nbsp;
  <hr>

  <footer id="footer">
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <div class="col-md-12">
          <div class="section-heading">
            <a href="mailto:#">Soporte@<strong> ©ComunitySoft </strong> .com</a>

          </div>
        </div>
      </div>
      <div class="col-md-6" style="padding-bottom: 120px;">
        <a> Copyright ©<strong> ©ComunitySoft </strong> Todos los Derechos Reservados 2020 </a>
      </div>
      <div class="col col-lg-3">
        <a href=""> ¿Quienes somos?</a></div>
    </div>
  </footer>
